{% extends "base.html.twig" %}

{% block abs %}
	<div aria-live="polite" aria-atomic="true" class="bg-dark position-relative bd-example-toasts">
		<div class="toast position-absolute mt-5 top-0 start-0" id="toast-delproj-success">
			<div class="toast-header">
				<strong class="me-auto">Příspěvek</strong>
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
			<div class="toast-body">
				Projekt byl smazán
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}

	<h1 class="text-center m-2">Správa projektů</h1>
	<hr>
	<div class="table-responsive">
		<table class="table table-striped table-hover text-center">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Název</th>
					<th scope="col">Hlavní<br>
						správce</th>
					<th scope="col">Počet<br>
						sledujících</th>
					<th scope="col">Počet<br>
						členů</th>
					<th scope="col">Zobrazit</th>
					<th scope="col">Spravovat</th>
					<th scope="col">Smazat</th>
				</tr>
			</thead>
			<tbody class="align-middle" id="projects-tbody">
				{% for project in projects|reverse %}
					{% if project.deleted == 0 %}
						<tr id="project-{{ project.id }}">
							<th scope="row">{{ project.id }}</th>
							<td>{{ project.name }}</td>
							<td>
								<a href="{{ path('user.profile', {username: project.admin.username}) }}" target="_blank">{{ project.admin.firstName ~ ' ' ~ project.admin.lastName }}</a>
							</td>
							<td>{{ project.follows|length }}</td>
							<td>{{ project.members|length }}</td>
							<td>
								<a class="btn btn-success" href="{{ path('project.project', {id: project.id}) }}" target="_blank">Zobrazit</a>
							</td>
							<td>
								<a class="btn btn-primary" href="{{ path('admin.project', {id: project.id}) }}">Spravovat</a>
							</td>
							<td>
								<a class="btn btn-danger admin-project-delete" data-delproj-id="{{ project.id }}">Smazat</a>
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>

	<h3>Již smazané projekty a kroužky</h3>
	<div class="table-responsive">
		<table class="table table-striped table-hover text-center">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Název</th>
					<th scope="col">Hlavní správce</th>
					<th scope="col">Počet sledujících</th>
					<th scope="col">Počet členů</th>
					<th scope="col">Zobrazit</th>
					<th scope="col">Spravovat</th>
					<th scope="col">Obnovit</th>
				</tr>
			</thead>
			<tbody class="align-middle" id="deleted-projects-tbody">
				{% for project in projects|reverse %}
					{% if project.deleted == 1 %}
						<tr id="project-{{ project.id }}">
							<th scope="row">{{ project.id }}</th>
							<td>{{ project.name }}</td>
							<td>{{ project.admin.firstName ~ ' ' ~ project.admin.lastName }}</td>
							<td>{{ project.follows|length }}</td>
							<td>{{ project.members|length }}</td>
							<td>
								<a class="btn btn-success" href="{{ path('project.project', {id: project.id}) }}" target="_blank">Zobrazit</a>
							</td>
							<td>
								<a class="btn btn-primary" href="{{ path('admin.project', {id: project.id}) }}">Spravovat</a>
							</td>
							<td>
								<a class="btn btn-danger admin-project-delete" data-delproj-id="{{ project.id }}">Obnovit</a>
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>

	<!--<div class="admin-project-card-deck">
				{% for project in projects|reverse %}
				<div class="admin-project-card m-4">
				<h3 class="text-center">{{ project.name }}</h3>
				<hr>
				<p>Hlavní správce: Václav Klečka ml.</p>
				<a href="{{ path('admin.project', {id: project.id}) }}" class="btn btn-danger">Nastavení</a>
				<a href="{{ path('project.project', {id: project.id}) }}" target="_blank" class="btn btn-success">Zobrazit</a>
				</div>
																				
				{% endfor %}
				</div>-->

{% endblock %}

{% block footer %}{% endblock %}
