<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Projekty SPŠ Ostrov
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link href="{{ asset('styles/bootstrap.min.css') }}" rel="stylesheet">
			<link rel="stylesheet" href="{{ asset('styles/jquery-ui.min.css') }}">
			<link rel="stylesheet" href="{{ asset('styles/style.css') }}">

			<link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
		{% endblock %}
	</head>

	<body>
		<nav class="navbar navbar-expand-xl navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ path('main') }}">SPŠ Ostrov</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="{{ path('main') }}">Domů</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://spsostrov.cz/" target="_blank">Stránky školy</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://titan.spsostrov.cz/" target="_blank">Titan</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('list') }}">Projekty a kroužky</a>
						</li>
						{% if session.get('username') != "" %}
							<li class="nav-item dropdown">

								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									{{ session.get('firstName') ~ ' ' ~ session.get('lastName') }}
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li>
										<a class="dropdown-item" href="{{ path('user.projects', {username: session.get('username')}) }}">
											<i class="fas fa-user-cog"></i>
											Moje projekty
										</a>
									</li>
									{% if session.get('role') == "admin" %}
										<li>
											<a class="dropdown-item" href="{{ path('admin.index') }}">
												<i class="fas fa-user-shield"></i>
												Administrátorské prostředí
											</a>
										</li>
										<li><hr class="dropdown-divider"></li>
									{% endif %}
									<li>
										<a class="dropdown-item" href="{{ path('user.profile', {username: session.get('username')}) }}">
											<i class="fas fa-user"></i>
											Můj Profil
										</a>
									</li>
								</ul>

							</li>
						{% else %}
							<a href="{{ path('login') }}">
								<button type="button" class="btn btn-outline-danger">Přihlásit se</button>
							</a>
						{% endif %}
					</ul>
					<form class="d-flex" id="navbar-search-form" method="GET" action="{{ path('search') }}">
						<input class="form-control me-2" type="search" placeholder="Hledat..." aria-label="Hledat..." id="navbar-search-input" name="q">
						<button class="btn btn-outline-success" type="submit" id="navbar-search-btn">Hledat</button>
					</form>
				</div>
			</div>
		</nav>
		<div class="container-fluid position-fixed top-0 start-0" style="z-index: 9999999">
			{% block abs %}
				{% if deactivated is defined %}
					{% if deactivated == true %}
						<div class="alert alert-danger mt-5" role="alert">
							Váš účet byl deaktivován správcem aplikace
						</div>
					{% endif %}
				{% endif %}

			{% endblock %}
		</div>
		<div class="container-fluid p-0 m-0"> {% block fluid %}{% endblock %}
			</div>

			<div class="container-fluid" style="{% block style %}{% endblock %}; min-height: 94vh">
				<div class="container"> {% block errors %}{% endblock %}{% block body %}{% endblock %}
					</div>
				</div>


				{% block footer %}
					<footer class="container-fluid" id="footer">
						<p>Vytvořeno v roce 2021 Martinem Růžkem, studentem SPŠ Ostrov, jako dlouhodobá maturitní práce</p>
					</footer>
				{% endblock %}

				{% block javascripts %}
					<script src="{{ asset('scripts/jQuery.js') }}"></script>
					<script src="{{ asset('scripts/jquery-ui.js') }}"></script>
					<script src="{{ asset('scripts/index.js') }}"></script>
					<script src="https://kit.fontawesome.com/868ac28d90.js" crossorigin="anonymous"></script>
					<script src="{{ asset('scripts/bootstrap.bundle.min.js') }}"></script>
					<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

				{% endblock %}

				{% block js %}{% endblock %}
			</body>
		</html>
	</body>
</html>
