{% extends "base.html.twig" %}

{% block body %}

	{% for post in posts|reverse %}
		<div class="project-post-wrapper" style="background-color: #eee" id="post-{{ post.id }}">
			<a href="{{ path('project.project', { id: post.project.id }) }}" class="nicelink">
				<div class="post-textcontent">
					<div class="project-post-profilepic">
						<img src="{{ asset('img/userimg/' ~ post.author.image) }}" alt="">
					</div>
					<div class="project-post-content w-100">
						<p class="project-post-author w-100">{{ post.author.firstName ~ ' ' ~ post.author.lastName }}
							<br>
							<span class="badge bg-primary">{{ post.author.tag }}</span>
							<span class="badge bg-light text-dark">{{ post.author.class }}</span>
						</p>
						<p id="postText-{{ post.id }}">{{ post.text }}</p>
					</div>
				</div>
			</a>
			<div class="post-media d-block mx-auto">
				<div class="fotorama" data-width="100%" data-ratio="800/600" data-minwidth="500" data-maxwidth="1000" data-minheight="300" data-maxheight="100%">
					{% for img in post.media %}
						<img src="{{ asset('img/media/' ~ img.name) }}" class="d-block mx-auto" alt="post media">
					{% endfor %}
				</div>
			</div>
		</div>

	{% endfor %}

	<p class="text-secondary text-center m-3">Vše zobrazeno!</p>

{% endblock %}
