{% extends('base.html.twig') %}

{% block title %}Projekty SPŠ Ostrov
{% endblock %}

{% block body %}

	<div class="container landing">
		<h1>Vítejte na stránkách projektů SPŠ Ostrov</h1>
		<p>Najdete zde nejzajímavější informace o projektech a kroužcích na naší škole</p>

		<div>
			<a href="/seznam" class="btn btn-primary">Zobrazit vše</a>
			<a href="#showcase" class="btn btn-danger m-2">Ukázat výběr</a>
		</div>
	</div>

	<div class="container showcase" id="showcase">
		{% for ib in indexBlocks %}
			{% if ib.type == "project" %}
				{% if ib.project.deleted == false %}
					<div class="showcase-ib">
						<div class="row">
							<div class="col-4">
								<a href="{{ path('project.project', {id: ib.project.id}) }}" class="nicelink">
									<img src="/img/projectimg/{{ ib.project.image }}" alt="" class="img-fluid round-img d-block mx-auto">
									<h3>{{ ib.project.name }}</h3>
									<p>{{ ib.project.description }}</p>
								</a>
							</div>

							<div class="col-8">
								<div class="fotorama">
									{% for img in ib.project.media %}
										{% if img.type == "hero" %}
											<img src="/img/media/{{ img.name }}" class="d-block mw-100 h-50 mx-auto" alt="post media">
										{% endif %}
									{% endfor %}
								</div>
							</div>
						</div>
						<a href="{{ path('project.project', {id: ib.project.id}) }}" class="btn btn-primary d-block mx-auto m-3">Navštívit</a>
					</div>
				{% endif %}
			{% endif %}

		{% endfor %}
	</div>
{% endblock %}
