{% extends 'base.html.twig' %}

{% block title %}SSO
{% endblock %}

{% block body %}
	<h2>Server_name:
		{{ server_name }}</h2>

	<h2>script_name:
		{{ script_name }}
	</h2>

	<h2>base:
		{{ base }}</h2>
	<h2>ssourl:
		{{ ssoUrl }}</h2>

	{% if data is defined  %}
		<p>data:
			{{ data }}</p>
	{% endif %}

	{% if callback is defined  %}
		<h2>callback:
			{{ callback }}
		</h2>
	{% endif %}

	{% if strp is defined  %}
		<h2>strp:
			{{ strp }}
		</h2>
	{% endif %}

	{% if substr2 is defined  %}
		<h2>substr2:
			{{ substr2 }}
		</h2>
	{% endif %}
	{% if exp is defined  %}
		<h2>exp:
			{{ exp }}
		</h2>
	{% endif %}

	{% if expName is defined  %}
		<h2>expName:
			{{ expName }}
		</h2>
	{% endif %}

	{% if expGroup is defined  %}
		<h2>expGroup:
			{{ expGroup }}
		</h2>
	{% endif %}

	{% if expAuth is defined  %}
		<h2>expAuth:
			{{ expAuth }}
		</h2>
	{% endif %}

	{% if expOu is defined  %}
		<h2>expOu:
			{{ expOu }}
		</h2>
	{% endif %}

	{% if classYear is defined  %}
		<h2>classYear:
			{{ classYear }}
		</h2>
	{% endif %}

	{% if classNum is defined  %}
		<h2>classNum:
			{{ classNum }}
		</h2>
	{% endif %}

	{% if class is defined  %}
		<h2>class:
			{{ class }}
		</h2>
	{% endif %}

	{% if userGroup is defined %}
		<h2>userGroup:
			{{ userGroup }}
		</h2>
	{% endif %}

	{% if test is defined %}
		<h2>test:
			{{ test }}
		</h2>
	{% endif %}
{% endblock %}
