{% extends 'base.html.twig' %}

{% block title %}
	{% if project is defined %}
		{{ project.name }}
	{% else %}
		Projekt neexistuje
	{% endif %}
{% endblock %}

{% block style %}
	{% if palette is defined %}
		background-color:
		{{ palette.background }}
	{% endif %}
{% endblock %}

{% block fluid %}
	{% if project is defined %}
		<div class="carousel slide hero-slider" data-bs-ride="carousel" data-bs-interval="4000">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="/img/skola1.jpg" class="d-block w-100" alt="">
				</div>
				{% for img in project.media %}
					<div class="carousel-item">
						<img src="/img/media/{{ img.name }}" class="d-block w-100" alt="">
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block abs %}
	<div aria-live="polite" aria-atomic="true" class="bg-dark position-relative bd-example-toasts">
		<div class="toast position-absolute mt-5 top-0 start-0" id="toast-editpost-success">
			<div class="toast-header">
				<strong class="me-auto">Příspěvek</strong>
			</div>
			<div class="toast-body">
				Váš příspěvek byl upraven
			</div>
		</div>
		<div class="toast position-absolute mt-5 top-0 start-0" id="toast-editpost-nochange">
			<div class="toast-header">
				<strong class="me-auto">Příspěvek</strong>
			</div>
			<div class="toast-body">
				Nic nebylo upraveno
			</div>
		</div>
		<div class="toast position-absolute mt-5 top-0 start-0" id="toast-delpost-success">
			<div class="toast-header">
				<strong class="me-auto">Příspěvek</strong>
			</div>
			<div class="toast-body">
				Příspěvek byl smazán
			</div>
		</div>
		<div class="toast position-absolute mt-5 top-0 start-0" id="toast-follow-success">
			<div class="toast-header">
				<strong class="me-auto">Sledovat</strong>
			</div>
			<div class="toast-body">
				Začali jste sledovat
				{{ project.name }}
			</div>
		</div>
		<div class="toast position-absolute mt-5 top-0 start-0" id="toast-unfollow-success">
			<div class="toast-header">
				<strong class="me-auto">Sledovat</strong>
			</div>
			<div class="toast-body">
				Přestali jste sledovat
				{{ project.name }}
			</div>
		</div>
		<div class="toast position-absolute mt-5 top-0 start-0" id="toast-follow-fail">
			<div class="toast-header">
				<strong class="me-auto">Sledovat</strong>
			</div>
			<div class="toast-body">
				Někde se stala chyba. Zkuste to prosím znovu později.
			</div>
		</div>

		<div class="toast position-absolute mt-5 top-0 start-0" id="toast-member-success">
			<div class="toast-header">
				<strong class="me-auto">Členství</strong>
			</div>
			<div class="toast-body">
				Požádali jste o členství v
				{{ project.name }}
			</div>
		</div>
		<div class="toast position-absolute mt-5 top-0 start-0" id="toast-unmember-success">
			<div class="toast-header">
				<strong class="me-auto">Členství</strong>
			</div>
			<div class="toast-body">
				Již nejste členem
				{{ project.name }}
			</div>
		</div>
		<div class="toast position-absolute mt-5 top-0 start-0" id="toast-member-fail">
			<div class="toast-header">
				<strong class="me-auto">Členství</strong>
			</div>
			<div class="toast-body">
				Někde se stala chyba. Zkuste to prosím znovu později.
			</div>
		</div>

		{% if session.get('id') in projectAdmins or session.get('id') == project.admin.id %}
			<div class="toast position-absolute mt-5 top-0 start-0" id="toast-memberaccept-success">
				<div class="toast-header">
					<strong class="me-auto">Žádost o členství</strong>
				</div>
				<div class="toast-body">
					Žádost o členství byla přijata
				</div>
			</div>

			<div class="toast position-absolute mt-5 top-0 start-0" id="toast-memberdecline-success">
				<div class="toast-header">
					<strong class="me-auto">Žádost o členství</strong>
				</div>
				<div class="toast-body">
					Žádost o členství byla zamítnuta
				</div>
			</div>

			<div class="toast position-absolute mt-5 top-0 start-0" id="toast-memberrequest-fail">
				<div class="toast-header">
					<strong class="me-auto">Žádost o členství</strong>
				</div>
				<div class="toast-body">
					Někde se stala chyba. Zkuste to prosím znovu později.
				</div>
			</div>
		{% endif %}
	</div>

	<!-- <div aria-live="polite" aria-atomic="true" class="bg-dark position-relative bd-example-toasts">
																																																																																																																		<div class="toast-container position-absolute mt-5 pt-3 p-1 top-0 start-0" id="toastPlacement">
																																																																																																																		<div class="toast" id="toast-editpost-success">
																																																																																																																		<div class="toast-header">
																																																																																																																		<strong class="me-auto">Příspěvek</strong>
																																																																																																																		<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
																																																																																																																		</div>
																																																																																																																																						<div class="toast-body">
																																																																																																																																							Váš příspěvek byl upraven
																																																																																																																																						</div>
																																																																																																																																					</div>
																																																																																																																																					<div class="toast" id="toast-editpost-nochange">
																																																																																																																																						<div class="toast-header">
																																																																																																																																							<strong class="me-auto">Příspěvek</strong>
																																																																																																																																							<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
																																																																																																																																						</div>
																																																																																																																																						<div class="toast-body">
																																																																																																																																							Nic nebylo upraveno
																																																																																																																																						</div>
																																																																																																																																					</div>
																																																																																																																																				</div>
																																																																																																																																			</div> -->
{% endblock %}

{% block body %}
	{% if project is defined %}

		<div class="project-content">

			{% if followStatus is defined %}

				{% if followStatus != ''%}
					{% if followStatus == "success" %}
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							Začali jste sledovat
							{{ project.name }}
							<button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
						</div>

					{% elseif followStatus == "unfollowed" %}
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							Přestali jste sledovat
							{{ project.name }}
							<button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>

						</div>
					{% endif %}
				{% endif %}

				{% if memberStatus != ''%}
					{% if memberStatus == "newmember" %}
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							Požádali jste o členství v
							{{ project.name }}
							<button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>

						</div>

					{% elseif memberStatus == "unmember" %}
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							Už nejste členem
							{{ project.name }}
							<button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>

						</div>
					{% endif %}
				{% endif %}

				{% if mediaError != '' %}
					{% if mediaError == "badext" %}
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							Nahrávaný obrázek není podporovaného formátu. Podporované formáty:
							<b>jpg, jpeg, png, gif</b>.
							<button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>

						</div>
					{% endif %}

					{% if mediaError == "badheight" %}
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							Nahrávaný obrázek nemá požadovanou velikost. Obrázek musí být vysoký přesně
							<b>480px</b>.
							<button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>

						</div>
					{% endif %}
				{% endif %}
			{% endif %}

			<div class="row project-body pt-3">
				<div class="col-lg-4">
					<div class="profile-col" style="background-color: {{ palette.row }}">
						<img src="/img/projectimg/{{ project.image }}" alt="" class="img-fluid project-img mb-3 mx-auto d-block">
						<h3 class="m-0">{{ project.name }}</h3>
						<span class="badge bg-dark">
							{{ project.tag }}
						</span>
						<h5 class="mt-2 mb-2" style="font-weight: normal">
							<i class="fas fa-crown"></i>
							{{ project.admin.firstName ~ ' ' ~ project.admin.lastName}}
						</h5>

						<p class="profile-desc">{{ project.description }}</p>
						{% if project.link != null %}
							<p>
								<i class="fas fa-link"></i>
								<a href="http://{{ project.link }}" target="_blank">{{ project.link }}</a>
							</p>
						{% endif %}
						<p class="m-0">
							<i class="fas fa-user-check"></i>
							<span id="number-of-members">
								{{ project.members|length }}
								{% if project.members|length > 1 and project.members|length < 5 %}
									členové
								{% elseif project.members|length == 0 or project.members|length > 4 %}
									členů
								{% elseif project.members|length == 1 %}
									člen
								{% endif %}
							</span>
						</p>

						<p>
							<i class="fas fa-users"></i>
							<span id="number-of-follows">
								{{ project.follows|length }}
								{% if project.follows|length > 0 and project.follows|length < 5 %}
									sledující
								{% elseif project.follows|length > 4 or project.follows|length == 0 %}
									sledujících
								{% endif %}
							</span>
						</p>

						{% if session.get('id') != null %}
							{% if followBtn == "follow" %}
								<button class="btn btn-outline-primary w-100 mb-3" id="followBtn">Začít sledovat</button>
							{% else %}
								<button class="btn btn-outline-secondary w-100 mb-3" id="followBtn">Přestat sledovat</button>
							{% endif %}

							{% if memberBtn == "member" %}
								<button class="btn btn-primary w-100 mb-3" id="memberBtn">Stát se členem</button>
							{% else %}
								<button class="btn btn-secondary w-100 mb-3" id="memberBtn">Zrušit členství</button>
							{% endif %}

							<p class="project-id d-none" id="{{ project.id }}"></p>
						{% endif %}
						{% if session.get('id') == project.admin.id or session.get('id') in projectAdmins %}
							<button class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#settingsModal">
								Spravovat
								{{ project.tag }}
							</button>
						{% endif %}
					</div>
				</div>

				<div class="col-lg-8 profile-content" style="background-color:{{ palette.row }}">
					<ul class="nav nav-tabs" id="projectTab" role="tablist">
						<li class="nav-item" role="presentation">
							<a class="nav-link active {{ palette.nav }}" id="prispevky-tab" data-bs-toggle="tab" href="#prispevky" role="tab" aria-controls="prispevky" aria-selected="true">Příspěvky</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link {{ palette.nav }}" id="clenove-tab" data-bs-toggle="tab" href="#clenove" role="tab" aria-controls="clenove" aria-selected="false">Členové</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link {{ palette.nav }}" id="udalosti-tab" data-bs-toggle="tab" href="#udalosti" role="tab" aria-controls="udalosti" aria-selected="false">Události</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link {{ palette.nav }}" id="media-tab" data-bs-toggle="tab" href="#media" role="tab" aria-controls="media" aria-selected="false">Média</a>
						</li>
					</ul>
					<div class="tab-content" id="profileTabContent">
						<div class="tab-pane fade show active project-posts" id="prispevky" role="tabpanel" aria-labelledby="prispevky-tab">

							<div class="project-new-post form-inline mt-3 w-100">
								{% if session.get('username') != '' %}
									{{ form_start(postForm) }}

									<div class="form-floating">
										{{ form_widget(postForm.text) }}
										<label for="floatingTextarea2">{{ form_label(postForm.text)}}</label>
									</div>

									<div class="row">
										<div class="col d-flex align-items-center">
											<div class="form-check form-switch mt-2">
												{{ form_widget(postForm.privacy) }}
												<label class="form-check-label" for="flexSwitchCheckDefault">{{ form_label(postForm.privacy) }}</label>
											</div>
										</div>
										<div class="col d-flex justify-content-end">
											<div class="mt-2 ml-2">
												{{ form_widget(postForm.submit) }}
											</div>
										</div>
									</div>


									{{ form_end(postForm) }}
								{% endif %}

							</div>
							{% for post in project.posts|reverse %}
								{% if post.deleted == 0 %}
									{% if post.privacy == 1 %}
										{% if session.get('id') in projectMembers %}
											<div class="project-post-wrapper {{ palette.post }}" id="post-{{ post.id }}">
												<div class="project-post-profilepic">
													<img src="http://localhost:8081/img/userimg/{{ post.author.image }}" alt="">
												</div>
												<div class="project-post-content w-100">
													<p class="project-post-author w-100">{{ post.author.firstName ~ ' ' ~ post.author.lastName }}
														<br>
														<span class="badge bg-primary">{{ post.author.tag }}</span>
														<span class="badge bg-light text-dark">{{ post.author.class }}</span>
													</p>
													<p id="postText-{{ post.id }}">{{ post.text }}</p>
												</div>
												{% if post.author.id == session.get('id')%}
													<p data-bs-toggle="modal" class="editPostModalTrigger m-1" data-bs-target="#editPostModal" data-bs-editpost-text="{{ post.text }}" data-bs-editpost-private="{{ post.privacy }}" data-bs-editpost-id="{{ post.id }}" data-edit-post-id="{{ post.id }}">
														<i class="fas fa-pen"></i>
													</p>
													<p class="post-card-trash-icon m-1" id="delPostTrigger" data-deletepost-id="{{ post.id }}">
														<i class="fas fa-trash"></i>
													</p>
												{% endif %}
											</div>
										{% endif %}

									{% else %}
										<div class="project-post-wrapper {{ palette.post }}" id="post-{{ post.id }}">
											<div class="project-post-profilepic">
												<img src="http://localhost:8081/img/userimg/{{ post.author.image }}" alt="">
											</div>
											<div class="project-post-content w-100">
												<p class="project-post-author w-100">{{ post.author.firstName ~ ' ' ~ post.author.lastName }}
													<br>
													<span class="badge bg-primary">{{ post.author.tag }}</span>
													<span class="badge bg-light text-dark">{{ post.author.class }}</span>
												</p>
												<p id="postText-{{ post.id }}">{{ post.text }}</p>
											</div>
											{% if post.author.id == session.get('id')%}
												<p data-bs-toggle="modal" class="editPostModalTrigger m-1" data-bs-target="#editPostModal" data-bs-editpost-text="{{ post.text }}" data-bs-editpost-private="{{ post.privacy }}" data-bs-editpost-id="{{ post.id }}" data-edit-post-id="{{ post.id }}">
													<i class="fas fa-pen"></i>
												</p>
												<p class="post-card-trash-icon m-1" id="delPostTrigger" data-deletepost-id="{{ post.id }}">
													<i class="fas fa-trash"></i>
												</p>
											{% endif %}
										</div>
									{% endif %}

								{% endif %}
							{% endfor %}

							<div class="project-post-wrapper {{ palette.post }}">
								<div class="project-post-profilepic">
									<img src="http://localhost:8081/img/logo1.jpg" alt="">
								</div>
								<div class="project-post-content">
									<p class="project-post-author">Václav Klečka ml.
										<span class="badge bg-danger">správce koroužku</span>
									</p>
									<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores velit, consequatur eos dolore, eum nihil atque eius reprehenderit fuga veritatis, id perferendis placeat fugit dolores. Doloremque ipsum excepturi impedit. Minus.</p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="clenove" role="tabpanel" aria-labelledby="clenove-tab">
							{% if session.get('id') == project.admin.id or session.get('id') in projectAdmins %}
								<h3 class="mt-3">Žádosti o členství</h3>
								<div class="member-requests mt-1 table-responsive">

									<table class="table table-striped table-hover text-center">
										<thead>
											<tr>
												<th scope="col">
													ID</th>
												<th scope="col">Jméno</th>
												<th scope="col">Třída</th>
												<th scope="col">Zobrazit profil</th>
												<th scope="col">
													Přijmout žádost
												</th>
												<th scope="col">Odmítnout žádost</th>
											</tr>
										</thead>
										<tbody class="align-middle">
											{% for member in project.members %}
												{% if member.accepted == false %}
													<tr id="member-request-tr">
														<th scope="row">{{ member.member.id }}</th>
														<td>{{ member.member.firstName ~ ' ' ~ member.member.lastName }}</td>
														<td>{{ member.member.class }}</td>
														<td>
															<a class="btn btn-primary" href="{{ path('user.profile', {username: member.member.username}) }}" target="_blank">Zobrazit</a>
														</td>
														<td>
															<button type="button" class="btn btn-success acceptMemberBtn" data-member-id="{{ member.id }}">Přijmout</button>
														</td>
														<td>
															<button type="button" class="btn btn-danger declineMemberBtn" data-member-id="{{ member.id }}">Odmítnout</button>
														</td>
													</tr>
												{% endif %}
											{% endfor %}
										</tbody>
									</table>
								</div>
							{% endif %}


							<div class="mt-3 table-responsive">
								<table class="table table-striped table-hover text-center">
									<thead>
										<tr>
											<th scope="col">ID</th>
											<th scope="col">Jméno</th>
											<th scope="col">Třída</th>
											<th scope="col">Zobrazit profil</th>
										</tr>
									</thead>
									<tbody class="align-middle">
										{% for member in project.members %}
											{% if member.accepted == true %}
												<tr id="member-request-tr">
													<th scope="row">{{ member.member.id }}</th>
													<td>{{ member.member.firstName ~ ' ' ~ member.member.lastName }}</td>
													<td>{{ member.member.class }}</td>
													<td>
														<a class="btn btn-primary" href="{{ path('user.profile', {username: member.member.username}) }}" target="_blank">Zobrazit</a>
													</td>
												</tr>
											{% endif %}
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane fade" id="udalosti" role="tabpanel" aria-labelledby="udalosti-tab">
							Události
						</div>
						<div
							class="tab-pane fade" id="media" role="tabpanel" aria-labelledby="media-tab">
							<!-- MEDIA -->
							<div class="project-media">
								{% for img in project.media %}
									{% if img.type != "hero" %}
										<img src="/img/media/{{img.name}}" alt="" class="img-fluid">
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		{% if project.admin.id == session.get('id') or session.get('id') in projectAdmins %}
			<!-- Settings Modal -->
			<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="settingsModalLabel">Upravit profil</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body modal-project-settings modal-dialog-scrollable">
							<div class="mb-3">
								{{ form_start(projectSettingsForm) }}
							</div>
							<div class="mb-3">
								{{ form_row(projectSettingsForm.name) }}
							</div>
							<div class="mb-3">
								{{ form_row(projectSettingsForm.description) }}
							</div>
							<div class="mb-3">
								{{ form_row(projectSettingsForm.link) }}
							</div>
							<div class="mb-3">
								{{ form_row(projectSettingsForm.tag) }}
							</div>
							<div class="mb-3">
								{{ form_row(projectSettingsForm.color) }}
							</div>
							<div class="mb-3">
								{{ form_row(projectSettingsForm.attach) }}
							</div>
							<div class="mb-3">
								{{ form_row(projectSettingsForm.medias) }}
							</div>
							<h4>Obrázky v pozadí</h4>
							{% if projectSettingsForm.media|length > 0 %}
								<div class="mb-2 mt-3 project-settings-bg-imgs">
									<div class="img-del">
										{% for media in project.media %}
											<img src="/img/media/{{ media.name }}" alt="" class="img-fluid">
										{% endfor %}
									</div>
									<div class="img-del-ico">
										{% for mediap in projectSettingsForm.media %}
											{{ form_row(mediap.submit)}}
										{% endfor %}
									</div>
								</div>

							{% else %}
								<p>Zatím v pozadí není žádný obrázek. Přidat je můžete zde
									<i class="fas fa-arrow-up"></i>
								</p>
							{% endif %}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zrušit</button>
							{{ form_row(projectSettingsForm.submit) }}
							{{ form_end(projectSettingsForm) }}
						</div>
					</div>
				</div>
			</div>

			<!-- Edit Post Modal -->

			<div class="modal fade" id="editPostModal" tabindex="-1" aria-labelledby="editPostModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="editPostModalLabel">Upravit příspěvek</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<form>
								<div class="mb-3">
									<label for="message-text" class="col-form-label">Text:</label>
									<textarea class="form-control" id="message-text"></textarea>
								</div>

								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" id="privacyCheck">
									<label class="form-check-label" for="privacyCheck">Pouze pro členy</label>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zrušit</button>
							<button type="button" class="btn btn-primary" id="editpost-submit" data-bs-dismiss="modal">Upravit příspěvek</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Seen Modal -->
			<div class="modal fade" id="seenModal" tabindex="-1" aria-labelledby="seenModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">New message</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<form>
								<div class="mb-3">
									<label for="recipient-name" class="col-form-label">Recipient:</label>
									<input type="text" class="form-control" id="recipient-name">
								</div>
								<div class="mb-3">
									<label for="message-text" class="col-form-label">Message:</label>
									<textarea class="form-control" id="message-text"></textarea>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Send message</button>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}
{% endblock %}
