{% extends "base.html.twig" %}

{% block errors %}
	<div class="pt-3">
		{% for error in errors %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				{{ error }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block body %}
	<div class="row mt-3">
		<div class="col-sm-4 profile-col">
			<img src="{{ asset('img/userimg/') ~ user.image}}" alt="" class="img-fluid project-img mb-3 mx-auto d-block">
			<h3 class="m-0">{{ user.firstname ~ ' ' ~ user.lastname }}</h3>
			<span class="badge bg-primary">{{ user.tag }}</span>
			<h5 class="m-0 mt-1" style="font-weight: normal">{{ user.class }}</h5>
			{% if user.description != null and errors|length == 0 %}
				<p class="profile-desc">{{ user.description }}</p>
			{% else %}
				<p class="profile-desc" style="color: #aaa">
					<i>Tento uživatel si zatím nevytvořil své bio</i>
				</p>
			{% endif %}

			{% if user.id == session.get('id') %}
				<button class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#userSettingsModal">Nastavení profilu</button>
				<div class="modal fade" id="userSettingsModal" tabindex="-1" aria-labelledby="userSettingsModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="userSettingsModalLabel">Nastevení profilu</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								{{ form_start(form) }}
								{{ form_row(form.description) }}
								{{ form_row(form.attach) }}
								<p class="text-secondary mt-1">
									<em>Doporučení: obrázek nahrávejte již ve formátu 1:1</em>
								</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
								<!--<button type="button" class="btn btn-primary">Save changes</button>-->
								{{ form_row(form.submit) }}
								{{ form_end(form) }}
							</div>
						</div>
					</div>
				</div>
			{% endif %}

		</div>

		<div class="col-sm-8 profile-content">
			<ul class="nav nav-tabs" id="profileTab" role="tablist">
				<li class="nav-item" role="presentation">
					<a class="nav-link active" id="prispevky-tab" data-bs-toggle="tab" href="#prispevky" role="tab" aria-controls="prispevky" aria-selected="true">Příspěvky</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="projekty-tab" data-bs-toggle="tab" href="#projekty" role="tab" aria-controls="projekty" aria-selected="false">Projekty</a>
				</li>
			</ul>
			<div class="tab-content" id="profileTabContent">
				<div class="tab-pane fade show active" id="prispevky" role="tabpanel" aria-labelledby="prispevky-tab">
					{% if publicPosts|length <= 0 %}
						<p class="text-secondary mt-3">
							<em>Tento uživatel zatím nepřispěl žádným příspěvkem</em>
						</p>
					{% endif %}
					{% for post in publicPosts %}
						{% if post.privacy == false and post.deleted == false and post.project.deleted == false %}
							<div class="project-post-wrapper" style="background-color:#eee" id="post-{{ post.id }}">
								<div class="post-textcontent">
									<div class="project-post-profilepic">
										<img src="{{ asset('img/projectimg/' ~ post.project.image) }}" alt="">
									</div>
									<div class="project-post-content w-100">
										<a href="{{ path('project.project', { id: post.project.id }) }}" class="nicelink">
											<p class="project-post-author w-100">{{ post.project.name }}
												<br>
												<span class="small">{{ post.postedDate|format_datetime(pattern='d. M. yyyy HH:mm') }}</span>
											</p>
										</a>
										<p id="postText-{{ post.id }}">{{ post.text }}</p>
									</div>
								</div>
								<div class="post-media d-block mx-auto">
									<div class="fotorama" data-width="100%" data-ratio="800/600" data-minwidth="500" data-maxwidth="1000" data-minheight="300" data-maxheight="100%">
										{% for img in post.media %}
											{% if img.type == "post" %}
												<img src="{{ asset('img/media/' ~ img.name) }}" class="d-block mx-auto" alt="post media">
											{% endif %}
										{% endfor %}
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
				<div class="tab-pane fade" id="projekty" role="tabpanel" aria-labelledby="projekty-tab">
					{% for member in user.members %}
						{% if member.project.deleted == false %}
							<a href="{{ path('project.project', {id: member.project.id}) }}" class="nicelink">
								<div class="user-project-card">
									<img src="{{ asset('img/projectimg/' ~ member.project.image) }}" alt="" class="img-fluid">
									<div class="user-project-class-text">
										<h3 class="m-0">{{ member.project.name }}</h3>
									</div>
								</div>
							</a>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
