{% extends "base.html.twig" %}

{% block body %}
	<h1 class="text-center m-2">Moje projekty</h1>
	<div class="fw-card-deck">
		<h3 class="mt-3">Projekty a kroužky, kterých jste členem</h3>
		{% for project in memberProjects %}
			<a href="{{ path('project.project', {id: project.id}) }}" class="fw-card-link">
				<div class="fw-card mt-5">
					<img src="{{ asset('img/projectimg/' ~ project.image) }}" class="img-fluid" alt="logo">

					<h5>{{ project.name }}</h5>
				</div>
			</a>
		{% endfor %}
	</div>

	<div class="fw-card-deck">
		<h3 class="mt-5">Projekty a kroužky, které sledujete</h3>
		{% for project in followProjects %}
			<a href="{{ path('project.project', {id: project.id}) }}" class="fw-card-link">
				<div class="fw-card mt-5">
					<img src="{{ asset('img/projectimg/' ~ project.image) }}" class="img-fluid" alt="logo">
					<h5>{{ project.name }}</h5>
				</div>
			</a>
		{% endfor %}
	</div>

{% endblock %}
